<!DOCTYPE html>
<html>
<head>
<title>Enter-new</title>
</head>
<link rel="stylesheet" href="tokemon.css">

<body background="final.jpg">

<div>
    <div>
        <form method ="get" action ="/display" id="first">

    Name: <input type="text" name="name" placeholder="Enter search name">

    <input type ="submit"/>

        </form>
    </div>
  <table>
    <tr>
      <th>Tokemon Name</th>
      <th>Trainer Name</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Fly</th>
      <th>Fight</th>
      <th>Fire</th>
      <th>Water</th>
      <th>Electric</th>
      <th>Frozen</th>
      <th>Total</th>
      </tr>

      <% rows.forEach((r) => { %>
        <tr>
        <td><a href="display/<%=r.name%>"> <%= r.name %></a> </td>
        <td> <%= r.trainer %></td>
        <td> <%= r.weight %></td>
        <td> <%= r.height %></td>
        <td> <%= r.fly %></td>
        <td> <%= r.fight %></td>
        <td> <%= r.fire %></td>
        <td> <%= r.water %></td>
        <td> <%= r.electric %></td>
        <td> <%= r.frozen %> </td>
        <td><%= r.total %></td>

    </tr>  <% }); %>
</table>


</div>

</body>

</html>
