<!DOCTYPE html>
<html>
<head>
<title>Enter-new</title>
</head>
<link rel="stylesheet" href="tokemon.css">

<body background="final.jpg">

<div>
    <div>
        <form method ="get" action ="/display" id="first">

    Name: <input type="text" name="name" placeholder="Enter search name">

    <input type ="submit"/>

        </form>
    </div>
    <ul>
      <% rows.forEach((r) => { %>
        <li><a href="https://tokedex.herokuapp.com/display/<%=r.name%>"><%= r.name %></a> <%= r.trainer %> <%= r.weight %> <%= r.height %> <%= r.fly %> <%= r.fight %> <%= r.fire %> <%= r.water %> <%= r.electric %> <%= r.frozen %> <%= r.total %></li>
      <% }); %>

      </ul>

</div>

</body>

</html>
